@page
@model TireHtP.Pages.IndexModel

@{
    ViewData["Title"] = "PSI Drop";
}

<h1>Tire drop vs. Pressure</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].WheelDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tire[0].MaxPSI)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tire)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WheelDiameter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPSI)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2> Axle Height vs. PSI  [PL] is Patch Length {patch size in square inches} </h2>
<h3> static lift (drop) [PL]{patch size} : Dynamic lift (drop) [PL] {patch size}</h3>

<table class="table">

    <thead>
        <tr>
            <th>PSI</th>

            @foreach (var item in Model.Tire)
            {
                var maxHt = item.Height / 2.0;
                <th>
                    @item.Height X @item.Width
                </th>
            }
        </tr>
    </thead>

    <tbody>


        @{ double psi = Model.Tire[0].MaxPSI;
            double diff=0;
            while (psi >= 2)
            {
                <tr>

                    <td>
                        @psi
                    </td>
                    @foreach (var item in Model.Tire)
                    {

                <td>
                    @{
                        var staticLoad = Methods.LiftAndDiffPA(item.Height, item.Weight, psi, item.Width, item.WheelDiameter);
                        var dynamicLoad = Methods.LiftAndDiffPA(item.Height, item.Weight * Model.DynMult, psi, item.Width, item.WheelDiameter);
                        diff = staticLoad.diff;
                    }
                    @staticLoad.lift (@staticLoad.strDiff) [@staticLoad.patchLen] {@staticLoad.sfootPrint}:
                    @dynamicLoad.lift (@dynamicLoad.strDiff) [@dynamicLoad.patchLen] {@dynamicLoad.sfootPrint}
                </td>

                    }
                </tr>
                
                if (diff < .1)
                {
                    psi -= 2.0;
                }
                else
                {
                    psi -= 1.0;
                }
            }
        }
    </tbody>

</table>