@page
@model TireHtP.Pages.ECR.IndexModel

@{
    ViewData["Title"] = "Crawl Ratio";
}

<h1>Effective CR</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].First)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].TC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].diff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].Portal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].TireRadius)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].Tq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tecr)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diff)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Portal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TireRadius)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*  CR Tr Tq Wt CR *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tecr[0].Name)
            </th>
            <th>
                CR
            </th>
            <th>
                Tire CR
            </th>
            <th>
                Tr Tq CR
            </th>
            <th>
                Tr Tq Wt CR
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tecr)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @ECRx.CR(item.First, item.TC, item.Portal, item.diff)
                </td>
                <td>
                    @ECRx.TCR(item.First, item.TC, item.Portal, item.diff, item.TireRadius)
                </td>
                <td>
                    @ECRx.TqTCR(item.First, item.TC, item.Portal, item.diff, item.TireRadius, item.Tq)
                </td>
                <td>
                    @ECRx.TqTwtCR(item.First, item.TC, item.Portal, item.diff, item.TireRadius, item.Tq, item.Weight)
                </td>
            </tr>
        }
    </tbody>
</table>
