@page
@model TireHtP.Pages.ECR.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].SessionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].First)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].TC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].diff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].Portal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].TireRadius)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].Tq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tecrList[0].Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tecrList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TireRadius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
